body {
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  font-size: 1.125rem;
  color: #f3f4f6;
  background: #c3c4c5;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  padding-top: 4rem;
  line-height: 2.4rem;
  margin-bottom: 0;
}

p {
  margin: 0.3rem 0 0 0;
}

label {
  color: #0284c7;
}

.container {
  width: 46.875rem;
  background: #1f2937;
  margin: 5rem auto;
  border: 0.4rem solid #fff;
  border-radius: 1.5rem;
  box-shadow: 5px 15px 20px #1f2937;
}

.wraper {
  max-width: 31.25rem;
  margin: 0 auto;
}

.span-text {
  display: inline-block;
  font-size: 3.5rem;
  color: #0284c7;
}

.btn-box {
  display: flex;
  justify-content: center;
}

.btn-pass {
  font-size: 1.2rem;
  padding: 0.5rem 8.9rem;
  margin: 3rem 0;
  border-radius: 0.2rem;
  border: none;
  outline: none;
  background: #0284c7;
  color: #1f2937;
  cursor: pointer;
}

.btn-pass:hover,
.btn-pass:focus {
  background: rgba(2, 132, 199, 0.1);
  color: #f3f4f6;
  transition: 0.3s ease-in-out;
}

.btn-reset {
  background: rgba(2, 132, 199, 0.1);
  color: #f3f4f6;
  grid-column: span 2;
  border-radius: 0.2rem;
  padding: 0.7rem 0;
  margin-bottom: 5rem;
  border: none;
  outline: none;
  font-size: 1.2rem;
}

.btn-reset:hover,
.btn-reset:focus {
  background: #0284c7;
  color: #1f2937;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.checkbox-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.checkbox-lar {
  transform: scale(1.5);
  margin-left: 0.5rem;
  outline: none;
  cursor: pointer;
}

.horizontal-line {
  border-top: 1px solid rgba(2, 132, 199, 0.2);
  margin: 2rem 0;
}

.section-2 {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 1em;
}

.box {
  width: 31.25rem;
  background: rgba(2, 132, 199, 0.1);
  color: #0284c7;
  text-align: center;
  font-size: 1.2rem;
  padding: 0.5rem 0;
  border-radius: 0.2rem;
}

.pass-wrap {
  display: flex;
  justify-content: center;
  margin: 1em;
}

.pass-txt {
  font-size: 1.2rem;
}

.pass-length {
  width: 2.7rem;
  font-size: 1.3rem;
  padding: 0.3em 0.6em;
  color: #0284c7;
  background: rgba(2, 132, 199, 0.1);
  border: none;
  border-radius: 0.3rem;
  outline: none;
  box-shadow: 2px 2px 3px #0284c7;
}

.result-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.btn-clipboard {
  background-color: #0284c7;
  border: none;
  border-radius: 0.1rem;
  padding: 0.05rem 0.6rem;
  cursor: pointer;
}

.btn-clipboard:hover {
  background-color: rgba(2, 132, 199, 0.5);
}

.fa-light {
  color: #fff;
  font-size: 1.4rem;
}
